*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

#veliki{
    padding-bottom: 300px;
}

#veliki, #bot p{
    width: 960px;
    margin: 0px auto;
}



#menu {
    background: #c1392a;
    display: flex;
    justify-content: flex-end
}
.item{
    
    width: 70px;
    height: 40px;
    color: white;
    line-height: 40px;
    text-align: center;
}
#main {
    padding-top: 2px; 
    width: 960px;
}
#middle {
    display: flex;
    flex-wrap:wrap;
}
#malodesno{
   
    background: #ffbe00;
    width: 280px;
    padding: 10px 5px;
    margin-top: 5px;
    margin-left: 30px;
    height: 250px;
}
.lista {
    line-height: 35px;
    border-bottom: 1px solid navy;
    padding: 5px 0px;
    font-size: 1.2em;
    color: navy;
    font-weight: 600;
}
#bot {
    width: 100%;    
    height: 60px;
    background: #2d3e50;
    line-height: 60px;
    font-size: 35px;
    position: fixed;
    bottom: 0px;
    color:  white;
}   
.prozor p{
    width: 300px;
    height: 200px;
    overflow: hidden; 
}
.prozor {
    box-sizing: border-box;
    
    height: 400px;
    padding: 10px;
}
#bit {
    display: flex;
    justify-content: center;
    padding-left:100px;
    padding-top: 20px;
}
